<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Antique Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Sales", "Home")">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("SpecialRequest", "Home")">Special Request</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Category", "Admin")">Manage Category</a>
                            <a class="dropdown-item" href="@Url.Action("Employee", "Admin")">Manage Employee</a>
                            <a class="dropdown-item" href="@Url.Action("EventType", "Admin")">Manage Event Type</a>
                            <a class="dropdown-item" href="@Url.Action("Event", "Admin")">Manage Event</a>
                            <a class="dropdown-item" href="@Url.Action("ExpenseType", "Admin")">Manage Expense Type</a>
                            <a class="dropdown-item" href="@Url.Action("Expense", "Admin")">Manage Expense</a>
                            <a class="dropdown-item" href="@Url.Action("JobType", "Admin")">Manage Job Type</a>
                            <a class="dropdown-item" href="@Url.Action("Position", "Admin")">Manage Position</a>
                            <a class="dropdown-item" href="@Url.Action("Product", "Admin")">Manage Product</a>
                            <a class="dropdown-item" href="@Url.Action("RequestType", "Admin")">Manage Request Type</a>
                            <a class="dropdown-item" href="@Url.Action("SpecialRequest", "Admin")">Manage Special Request</a>
                            <a class="dropdown-item" href="@Url.Action("Supplier", "Admin")">Manage Supplier</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Inventory", "Admin")">View Inventory</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Sales", "Report")">Sales</a>
                            <a class="dropdown-item" href="@Url.Action("Employee", "Report")">Employee</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <span>
                        <strong>[Kevin N]</strong><br />
                        <strong>Store: West</strong>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-secondary my-3 my-sm-3" href="@Url.Action("SignUp", "Home")">Sign out</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Antique Store</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
